@{
    ViewBag.Title = "Click Counter";
}

<style type="text/css">
    
    body { font-family: arial; font-size: 14px; }
    .wrapper { padding: 1em; background-color: #EEEEDD; border: 1px solid #CCC; max-width: 655px; }
    .wrapper input { font-family: Arial; }
    .wrapper b { font-weight: bold; }
    .wrapper p { margin-top: 0.9em; margin-bottom: 0.9em; }
    .wrapper select[multiple] { width: 100%; height: 8em; }
    .wrapper h2 { margin-top: 0.4em; }

</style>

<h2>@ViewBag.Title</h2>

<br />

<div class='wrapper'>
    <div>
        You've clicked <span data-bind='text: numberOfClicks'>&nbsp;</span> times
    </div>     
    <button data-bind='click: registerClick, disable:hasClickedTooManyTimes'>Click me</button>     
    <div data-bind='visible: hasClickedTooManyTimes'>
        That's too many clicks! 
        <button data-bind='click: resetClicks'>Reset clicks</button>
    </div>        
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/ViewModel/ClickCounter.js")
}
